body {
    background-color: #070052;
    background-image: linear-gradient(to right, #070052, #5C56B5);
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    padding: 25px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    margin: 10px;
}

.about-satelle {
    display: flex;
    justify-content: center;
    width: 70%;
    min-width: 360px;
    height: auto;
    padding: 0 8px 24px 8px;
    margin: 0;

    background-color: rgb(7, 0, 82, 0.15);
    border-radius: 30px;
}

.about-satelle h1 {
    text-align: center;
    font-size: 48px;
    padding: 0 8px 10px 8px;
    margin-top: 22px;
    margin-bottom: 12px;
    line-height: 0.9;
}

.about-satelle p {
    padding: 0 8%;
    font-size: 19px;
}

.logo {
    max-width: 100%;
    display: block;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.fade-in {
    animation: fade-in 1.5s ease-in-out; /* Adjust duration and timing as desired */
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}


.click-here {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: whitesmoke; /* Set your desired text color */
}

.click-here::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Set your desired highlight height */
    background-color: darkturquoise; /* Set your desired highlight color */
    transition: width 0.3s ease; /* Set your desired transition duration and easing */
}

.click-here:hover::before {
    width: 100%;
}

.footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 40px;

    font-weight: lighter;
    font-size: 14px;
    line-height: 0.9;
}

.footer a {
    font-weight: lighter;
    text-decoration: underline;
}

#preview{
    text-align: right;
    color: ghostwhite;
}